.image {
    display: flex;
    width: 500px;
    height: 350px;
}

img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
    z-index: 1;
}

img:hover {
    cursor: crosshair;
    width: 100px;   
    filter: contrast(120%);
    opacity: 1;
}